*{
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;

    overflow: hidden;

}

body{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.app-container {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;

}

#booking-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

label {
    margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #4e60b0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    margin: .3rem;
}

button[type="submit"]:hover {
    background-color: #4e60b0;
}




